assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/

*/mybd.xml
*/*/mybd.xml
*/*/*/mybd.xml

*/bookmarks.xml
*/*/bookmarks.xml
*/*/*/bookmarks.xml

*/notes.xml
*/*/notes.xml
*/*/*/notes.xml

