assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/

files_ignore/*
*/files_ignore/*
*/*/files_ignore/*
*/*/*/files_ignore/*

node_modules/


*/mybd.xml
*/*/mybd.xml
*/*/*/mybd.xml

*/bookmarks.xml
*/*/bookmarks.xml
*/*/*/bookmarks.xml

*/notes.xml
*/*/notes.xml
*/*/*/notes.xml

